.book {
    position: relative;
    width: 230px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(109, 49, 25, 0.658) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease-in-out;
    margin: 10px 5px;
}

.book:hover {
    transform: scale(1.01);
}

.price {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #1e0220;
    color: #f4ebf5;
    padding: 0.2rem 0.4rem;
    font-weight: normal;
    border-radius: 5px;
    font-size: .95rem;
    margin: 0.4rem 0.4rem;
}

.cover {
    width: 50%;
    height: 180px;
    object-fit: cover;
    border-radius: 1px;
    margin: .5rem 1.5rem;
}

.details {
    text-align: left;
}

.title {
    font-size: .95rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.author,.category {
    text-align: left;
    font-size: .6rem;
    color: #333;
    font-weight: 650;
    line-height: 1.4;
    margin: 0.4rem 0;
}

.rating {
    text-align: left;
    font-size: 1rem;
    color: #f39c12;
    margin: .8rem 0;
}

.age-rating {
    text-align: left;
    font-size: .8rem;
    color: #333;
    line-height: 1.4;
    margin: -0.5rem 0 -.25rem;
}

.description {
    font-size: .8rem;
    color: #333;
    line-height: 1.4;
    margin-bottom: 0.2rem;
}

.focus {
    text-align: left;
    font-size: 1rem;
    color: #333;
    line-height: 1.4;
    margin: .05rem 0;
    font-weight: 600;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    padding: 0 1.5px;
    border-radius: 2px;
}

.download-links, .user-signup-links {
    display: flex;
    flex-direction: column;
}

.download-link, .user-signup-link {
    text-align: left;
    color: blue;
    font-size: .8rem;
    text-decoration: underline;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.download-link:hover, .user-signup-link:hover {
    color: #757677;
    text-decoration: underline;
    font-size: .75rem;
}

.books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 5rem;
    justify-content: space-around;
}

.error-message {
    background-color: #c4ba92;
    color: #da0404;
    border: 1px solid #c41414;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.801);
}

/* resposiveness */
/* For tablets in portrait mode or smaller screens */
@media only screen and (max-width: 768px) {
    .book {
        position: relative;
        width: 250px;
        padding: 1rem;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.2s ease-in-out;
        margin: 15px;
    }
    
    .cover {
        width: 75%;
        height: 180px;
        object-fit: cover;
        border-radius: 1px;
        margin: 0.8rem 1.25rem;
    }
  
    .navbar-logo .logo {
      width: 100px;
      margin: 0 40px 0 20px;
    }
}
  
  /* For small devices like phones in landscape mode */
  @media only screen and (max-width: 600px) {
    .book {
        position: relative;
        width: 250px;
        padding: 1rem;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.2s ease-in-out;
        margin: 15px;
    }

    .cover {
        width: 75%;
        height: 180px;
        object-fit: cover;
        border-radius: 1px;
        margin: 0.8rem 1.25rem;
    }

    .navbar-logo .logo {
        width: 60px;
        margin: 0 100px 0 20px;
    }
}
  
/* Media Query for Tablets (768px and below) */
@media only screen and (max-width: 768px) {
    .book {
        position: relative;
        padding: 1rem;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.2s ease-in-out;
        margin: 0 15px;
    }

    .books {
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        margin: 5rem auto;
        justify-content: space-around;
    }

    .cover {
        width: 50%;
        height: 180px;
        object-fit: cover;
        border-radius: 1px;
        margin: 0.8rem 1.25rem;
    }

    .navbar-logo .logo {
        width: 60px;
        margin: 0 100px 0 20px;
    }
}

/* For extra small devices like phones in portrait mode */
@media only screen and (max-width: 480px) {
    .book {
        position: relative;
        padding: 1rem;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.2s ease-in-out;
        margin: 0 15px;
    }

    .books {
        width: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        margin: 5rem auto;
        justify-content: space-around;
    }

    .cover {
        width: 50%;
        height: 180px;
        object-fit: cover;
        border-radius: 1px;
        margin: 0.8rem 1.25rem;
    }

    .navbar-logo .logo {
        width: 60px;
        margin: 0 100px 0 20px;
    }
}