.section-padding {
    padding: 4rem 4rem;
}

.footer {
    background: linear-gradient(rgba(95, 2, 80, 0.678),rgb(0, 101, 112));
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 35%;
    margin: .5rem;
}

.footer-description {
    width: 450px;
    margin: .5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: whitesmoke;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}

.footer-links-div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: whitesmoke;
}

a {
    color: rgb(175, 175, 179);
    text-decoration: none;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    cursor: pointer;
}

.footer-links-div h4 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.footer-links-div p,.important-links {
    font-size: 12px;
    line-height: 15px;
    margin: 0.05rem 0;
}

.important-links:hover {
    font-size: 12px;
    line-height: 15px;
    margin: 0.05rem 0;
    cursor: pointer;
    color: rgb(146, 138, 138);
}

.footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .25rem;
}

.legal {
    display: flex;
    flex-direction: row;
}

.legal p {
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: whitesmoke !important;
    font-weight: 600;
}

.legal p:hover {
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: rgb(146, 138, 138) !important;
}

hr {
    width: 100%;
    border-top: .5px solid rgb(175, 165, 165);
    border-bottom: .5px solid rgb(187, 174, 174);
    border-radius: 100%;
}

.copyright {
    font-size: 13px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: left;
}

/* Media Query for Tablets (768px and below) */
@media only screen and (max-width: 768px) {
    .section-padding {
        padding: 0 1rem;
    }    

    .footer-logo {
        width: 35%;
        margin: 20px 0 10px 0;
    }

    .footer-description {
        width: auto;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        color: whitesmoke;
        font-weight: 500;
    }
 
    .footer-links-div {
        margin-left: 1px;
    }

    .footer-links-div h4 {
        color: whitesmoke;
        margin: .25rem 0;
    }

    .footer-links {
        width: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }

    .socials {
        margin-left: 10%;
    }

    hr {
        margin-top: -10px;
    }

    .copyright {
        font-size: 9px;
        margin-top: -20px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        text-align: left;
    }

    .legal p {
        font-size: 5px;
        line-height: 15px;
        margin-left: .2rem;
        color: whitesmoke !important;
        font-weight: 600;
    }
}
  
  /* Media Query for Mobile Devices (600px and below) */
  @media only screen and (max-width: 600px) {
    
}

/* Media Query for Extra Small Devices (480px and below) */
@media only screen and (max-width: 480px) {
    .section-padding {
        padding: 0 1rem;
    }    

    .footer-logo {
        width: 35%;
        margin: 20px 0 10px 0;
    }

    .footer-description {
        width: auto;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        color: whitesmoke;
        font-weight: 500;
    }
 
    .footer-links-div {
        margin-left: 1px;
    }

    .footer-links-div h4 {
        color: whitesmoke;
        margin: .25rem 0;
    }

    .footer-links {
        width: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }

    hr {
        margin-top: -10px;
    }

    .copyright {
        font-size: 9px;
        margin-top: -20px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        text-align: left;
    }

    .legal p {
        font-size: 5px;
        line-height: 15px;
        margin-left: .2rem;
        color: whitesmoke !important;
        font-weight: 600;
    }
}