* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 0;
    transition: background-color 0.4s ease, padding 0.4s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: rgb(11, 168, 189);
    padding: 10px 0;
    box-shadow: 0 4px 6px #360238;
}

.navbar-logo .logo {
  width: 100px;
  margin: 0 30px;
}

.navbar-buttons .btn:hover {
    color: rgb(56, 50, 50);
}

.navbar-logo a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

.navbar-links a {
    color: rgb(29, 0, 36);
    font-weight: 550;
    text-transform: uppercase;
    padding: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.navbar-toggler {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: #360238;
    font-size: 1.5rem;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        width: 100%;
        padding: 15px 15px;
        margin-left: 0;
        background-color: rgb(11, 168, 189);
        transition: max-height 0.3s ease;
    }

    .navbar-links.active {
        display: flex;
        max-height: 100vh; /* ensures links are shown when active */
        gap: .5rem;
    }

    .navbar-links a {
        border-bottom: 1px solid #360238bb;;
        padding: 10px 0;
        border-radius: 0px;
    }
}