/* Main container for the sign-up page */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/header-bg.jpg');  /* Add a background image */
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
}
  
/* Background overlay */
.signup-background {
    background-color: rgba(0, 0, 0, 0.5);  /* Dark overlay */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/* Card style for the form */
.signup-card {
    background-color: rgba(0, 0, 0, 0.486);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 20px #57b7e093;
    width: 400px;
    text-align: center;
}
  
/* Form title */
.signup-title {
    font-size: 1.8rem;
    margin-bottom: 25px;
    color: #57b7e0;
    font-weight: bold;
}
  
/* Form styling */
.signup-form .form-group {
    margin-bottom: 25px;
    text-align: left;
}
  
.signup-form label {
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
    color: #ece2e2;
}
  
.signup-form input {
    width: 92%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}
  
.signup-form input:focus {
    border-color: #3498db;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.2);
}

::placeholder {
    color: rgba(92, 91, 91, 0.856);
    font-style: italic;
    font-size: .85rem;
}
  
/* Button styling */
.signup-btn {
    background-color: rgba(199, 81, 191, 0.678);
    color: rgb(241, 235, 235);
    padding: 15px 0;
    width: 50%;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.signup-btn:hover {
    background-color: #ddd;
    color: #303233;
}
  
/* Sign in link */
.signup-text {
    margin-top: 20px;
    color: #e6dcdc;
}
  
.signin-link {
    color: #57b7e0;
    text-decoration: none;
}
  
.signin-link:hover {
    text-decoration: underline;
    color: #ddd;
}