:root {
  --youtube-hex: #ff0000;
  --facebook-hex: #1877F2;
  --x-hex: #000;
  --linkedin-hex: #0077B5;
}

html {
  background-color: rgba(212, 209, 209, 0.658);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: none;
  outline: 0;
  font-family: inherit;
  font-size: 1.6rem;
}

/* social icons*/
.youtube {color: var(--youtube-hex);}
.facebook {color: var(--facebook-hex);}
.x {color: var(--x-hex);}
.linkedin {color: var(--linkedin-hex);}

.youtube, .facebook, .x, .linkedin {
  font-size: 2.5rem;
}

.social-links:hover {
  color: #717171
}